<%= form_for(alumno) do |f| %>
  <% if alumno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alumno.errors.count, "error") %> prohibited this alumno from being saved:</h2>

      <ul>
      <% alumno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :numeroMatricula %>
    <%= f.number_field :numeroMatricula, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :nombres %>
    <%= f.text_field :nombres, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :apellidos %>
    <%= f.text_field :apellidos, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :edad %>
    <%= f.number_field :edad, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :colegio_id %>
    <%= f.select :colegio_id, options_from_collection_for_select(Colegio.all, :id, :nombre), class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit 'Enviar', class: "btn btn-primary" %>
  </div>
<% end %>
