<p id="notice"><%= notice %></p>

<h1>Alumnos</h1>

<table class="table table-sm">
  <thead>
    <tr>
      <th>Numeromatricula</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Edad</th>
      <th>Colegio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alumnos.each do |alumno| %>
      <tr>
        <td><%= alumno.numeroMatricula %></td>
        <td><%= alumno.nombres %></td>
        <td><%= alumno.apellidos %></td>
        <td><%= alumno.edad %></td>
        <td><%= alumno.colegio.nombre %></td>
        <td><%= link_to 'Show', alumno %></td>
        <td><%= link_to 'Edit', edit_alumno_path(alumno) %></td>
        <td><%= link_to 'Destroy', alumno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alumno', new_alumno_path %>
