<%= form_for(padre) do |f| %>
  <% if padre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(padre.errors.count, "error") %> prohibited this padre from being saved:</h2>

      <ul>
      <% padre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombres %>
    <%= f.text_field :nombres %>
  </div>

  <div class="field">
    <%= f.label :apellidos %>
    <%= f.text_field :apellidos %>
  </div>

  <div class="field">
    <%= f.label :pais %>
    <%= f.text_field :pais %>
  </div>

  <div class="field">
    <%= f.label :correo %>
    <%= f.text_field :correo %>
  </div>

  <div class="field">
    <%= f.label :clave %>
    <%= f.text_field :clave %>
  </div>

  <div class="field">
    <%= f.label :telefono %>
    <%= f.text_field :telefono %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
