<%= form_for(profesor) do |f| %>
  <% if profesor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profesor.errors.count, "error") %> prohibited this profesor from being saved:</h2>

      <ul>
      <% profesor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombres %>
    <%= f.text_field :nombres, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :apellidos %>
    <%= f.text_field :apellidos, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :telefono %>
    <%= f.text_field :telefono, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :correo %>
    <%= f.text_field :correo, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit 'Ingresar', class: "btn btn-success" %>
  </div>
<% end %>
