<%= form_for(denuncium) do |f| %>
  <% if denuncium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(denuncium.errors.count, "error") %> prohibited this denuncium from being saved:</h2>

      <ul>
      <% denuncium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :asunto %>
    <%= f.text_field :asunto %>
  </div>

  <div class="field">
    <%= f.label :texto %>
    <%= f.text_area :texto %>
  </div>

  <div class="field">
    <%= f.label :imagen %>
    <%= f.text_field :imagen %>
  </div>

  <div class="field">
    <%= f.label :archivo %>
    <%= f.text_field :archivo %>
  </div>

  <div class="field">
    <%= f.label :padre_id %>
    <%= f.text_field :padre_id %>
  </div>

  <div class="field">
    <%= f.label :alumno_id %>
    <%= f.text_field :alumno_id %>
  </div>

  <div class="field">
    <%= f.label :gravedad %>
    <%= f.text_field :gravedad %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
