<p id="notice"><%= notice %></p>

<h1>Observacions</h1>

<table>
  <thead>
    <tr>
      <th>Asunto</th>
      <th>Mensajes</th>
      <th>Profesor</th>
      <th>Padre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @observacions.each do |observacion| %>
      <tr>
        <td><%= observacion.asunto %></td>
        <td><%= observacion.mensajes %></td>
        <td><%= observacion.profesor %></td>
        <td><%= observacion.padre %></td>
        <td><%= link_to 'Show', observacion %></td>
        <td><%= link_to 'Edit', edit_observacion_path(observacion) %></td>
        <td><%= link_to 'Destroy', observacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Observacion', new_observacion_path %>
